<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.glitch.com/56cfd8cc-f82d-4d9c-bfc8-bd97191763e0%2Ffavicon.ico?1517906067048" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
          <h1>Request Header Parser Microservice</h1>
          <section>
          <h3>Objective: Build a full stack JavaScript app that is functionally similar to 
          this: 
            <a href="https://cryptic-ridge-9197.herokuapp.com/api/whoami/" target="_blank">https://cryptic-ridge-9197.herokuapp.com/api/whoami/</a> 
            and deploy it to Glitch.
          </h3>
          <h3>User Story:</h3>
          <ul>
            <li>I can get the IP address, language and operating system for my browser.</li>
          </ul>
          <h3>Usage:</h3>
          <ul>
            <li><a href="https://bao88-request-header-parser-microservice.glitch.me/api/whoami/" target="_blank">https://bao88-request-header-parser-microservice.glitch.me/api/whoami/</a></li>
          </ul>
          <h3>Output:</h3>
          <ul>
            <li>{"ipaddress":"213.236.211.141","language":"nb-NO","software":"Windows NT 10.0; Win64; x64"}</li>
          </ul>
        </section>
      </div>
   </body>
  
  <footer class="footer">The repository can be found <a href="https://github.com/Bao88/Request-Header-Parser-Microservice" target="_blank">here</a></footer>

</html>
