/****** Main Styling ******/
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');

html{ height: 100%; }
body {
	font-family: 'Nanum Myeongjo', serif;
	font-size: 18px;
  font-weight: bold;
  height: 100%;
	color: black;
	background-image: url("https://raw.githubusercontent.com/altairstudios/nodeserver/master/nodeserver-logo.png"), linear-gradient(to right, lightgreen , white);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 400px, contain;
/* 	text-align: center; */
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	position: absolute;
  width: 100%;
  height: auto;
/*   border: solid; */
  bottom: 20px;
  text-align: center;

}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/
